<div class="blurb-container">
	<p>
		Nexus (To Connect) Vivus (Life) International (Around the world) began in 2004 as an idea shared by a group of friends who began informally communicating with one common purpose and dream about reaching out to young people around the world. This dream has evolved over the years and has taken the shape of a collection of friends committed to young people across the world who are our most treasured resource. Nexus Vivus International currently represents people who live in over 50 different nations who are actively involved in the lives of young people, and is growing.
	</p>
</div>
