<div class="container">
    <div class="col-lg-6">
        <img src="../nexusDRMassets/nexus-logo-175.png" height="43" width="151" class="icon"/>
    </div>

    <div id="nav" class="col-lg-6">
        <ul>
            <li>Home</li>
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" style="color:grey;">Ministry</button>
                    <button type="button" class="btn btn-default dropdown-toggle" style="color:grey;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>About Us</li>
            <li>Give</li>
            <li>Staff</li>
            <li>Contact Us</li>
            <li>S</li>
        </ul>
    </div>
</div>
