<div class="container">
    <div class="col-lg-6">
        <img src="../nexusDRMassets/nexus-logo-175.png" height="43" width="151" class="icon"/>
    </div>

    <div id="nav" class="col-lg-6">
        <ul>
            <li><a href="http://nexusinfo.org/">Home</a></li>
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" style="color:grey;">Ministry</button>
                    <button type="button" class="btn btn-default dropdown-toggle" style="color:grey;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://nexusinfo.org/center-for-international-youth-ministry/">Center for International Youth Ministry</a>
                        </li>
                        <li>
                            <a href="http://nexusinfo.org/nexus-africa/">Nexus Africa</a>
                        </li>
                        <li>
                            <a href="http://nexusinfo.org/wilderness-ministry/">Wilderness Ministry</a>
                        </li>
                        <li>
                            <a href="http://nexusinfo.org/method/">Our Method</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="http://nexusinfo.org/about-us/">About Us</a></li>
            <li><a href ="/donate">Give</a></li>
            <li><a href="http://nexusinfo.org/staff/">Staff</a></li>
            <li><a href="http://nexusinfo.org/contacts/">Contact Us</a></li>
						<li>
              <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><img src="../nexusDRMassets/Magnifying_glass_icon.svg.png" height="12px" width="12px"/>
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="/user">My Info</a></li>
                    <li><a ng-click="HDC.logOut()">Log Out</a></li>
                  </ul>


              </div>
						</li>
        </ul>
    </div>
</div>
