<base href="/">
<app_blurb></app_blurb>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<h3>Donate Once</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<a class="btn btn-positive" href="#" role="button">Donate »</a>
		</div>

		<div class="col-lg-6">
			<h3>Set up Repeating Donations</h3>
				<div class="form-group">
					<input type="currency " class="form-control" placeholder="$25.00">
				</div>
				<div class="form-group">

				</div>
			<a class="btn btn-positive" href="#" role="button">Donate »</a>
		</div>
	</div>
</div>
