<base href="/">
<app_blurb></app_blurb>

<div class="container-fluid" ng-controller="donateController as DC">
	<form name="paymentForm" ng-submit="submit()" novalidate>
		<div class="panel panel-default col-lg-6">
        <h3>Donate by Credit Card</h3>
        <hr>
        <div class="form-group col-lg-8">
            <label class="control-label">Card Number</label>
            <!--  Hosted Fields div container -->
            <div class="form-control" id="card-number"></div>
            <span class="helper-text"></span>
        </div>
        <div class="form-group col-lg-4">
            <div class="row">
                <label class="control-label col-lg-12">Expiration Date</label>
                <!--  Hosted Fields div container -->
                <div class="col-lg-6">
                    <div class="form-control" id="expiration-month"></div>
                </div>
                <div class="col-lg-6">
                    <div class="form-control" id="expiration-year"></div>
                </div>
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="form-group col-lg-6">
                <label class="control-label">Security Code</label>
                <!--  Hosted Fields div container -->
                <div class="form-control" id="cvv"></div>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label">Zipcode</label>
                <!--  Hosted Fields div container -->
                <div class="form-control" id="postal-code"></div>
            </div>
        </div>
        <!-- add select field here -->
    </div>

    <div class="panel panel-default col-lg-6">
        <h3>Options:</h3>
        <hr>
        <div class="checkbox" ng-hide="quarterlyPayOptIn || annualPayOptIn">
            <label>
                <input type="checkbox" ng-init="monthlyPayOptIn = false" ng-model="DC.form.monthlyPayOptIn" ng-click="monthlyPayOptIn = !monthlyPayOptIn" >
                Repeat monthly
            </label>
        </div>
				<div class="checkbox" ng-hide="monthlyPayOptIn || annualPayOptIn">
					<label>
						<input type="checkbox" ng-init="quarterlyPayOptIn = false" ng-model="DC.form.quarterlyPayOptIn" ng-click="quarterlyPayOptIn = !quarterlyPayOptIn" >
								Repeat quarterly
					</label>
				</div>
				<div class="checkbox" ng-hide="monthlyPayOptIn || quarterlyPayOptIn">
					<label>
						<input type="checkbox" ng-init="annualPayOptIn = false" ng-model="DC.form.annualPayOptIn" ng-click="annualPayOptIn = !annualPayOptIn" >
						Repeat Annually
					</label>
				</div>
				<div class="checkbox" ng-click="setFutureDate = !setFutureDate">
					<label>
						<input type="checkbox" ng-init="setFutureDate = false" >
						Set up payment for future date
					</label>
				</div>
        <div class="form-group" ng-show="setFutureDate">
					<form name="setFutureDate">
						<label>Pick a date <em>within 30 days</em> of today:</label>
						<input type="date" ng-model="DC.futureDate" placeholder="yyyy-MM-dd" min="{{DC.currentDate}}" max="{{DC.maxFutureDate}}">
					</form>
        </div>
				<div>
					<div>
						<p ng-show="monthlyPayOptIn && !quartlyPayOptIn && !annualPayOptIn">
							Payment repeats monthly
						</p>
						<p ng-show="quarterlyPayOptIn && !monthlyPayOptIn && !annualPayOptIn">
							Payment repeats quarterly
						</p>
						<p ng-show="annualPayOptIn && !monthlyPayOptIn && !quarterlyPayOptIn">
							Payment repeats annually
						</p>
						<p ng-show="setFutureDate">
							Payment will process on: {{DC.futureDate}}
						</p>
					</div>
				</div>
    </div>
	</form>


    <button value="submit" id="submit" class="btn btn-success btn-lg col-lg-12" ng-disabled="paymentForm.$invalid">Pay with
        <span id="card-type">Card</span>
    </button>


</div>
<div class="footer-info col-lg-12">
    <button type="button" class="btn btn-link col-lg-3" name="button" ng-click="DC.logOut()">Log Out</button>
</div>
