<base href="/">
<app_blurb></app_blurb>

<div class="container-fluid" ng-controller="donateController as DC">
	<form name="paymentForm" ng-submit="submit()" novalidate>
		<div class="panel panel-default col-lg-6">
			<div class="col-xs-12">
				<h3>Donate by Credit Card</h3>
        <hr>
				<div class="form-group col-xs-8">
					<label>Card Number</label>
					<input type="text" class="form-control" ng-model="DC.form.cardNumber">
				</div>
				<div class="form-group col-xs-4">
					<label>Expiration</label>
					<input type="text" class="form-control" ng-model="DC.form.cardExpire">
				</div>
			</div>
			<div class="col-xs-12">
				<div class="form-group col-xs-6">
					<label>Security Code</label>
					<input type="text" class="form-control" ng-model="DC.form.cardCVV">
				</div>
				<div class="form-group col-xs-6">
					<label>Zip Code</label>
					<input type="text" class="form-control" ng-model="DC.form.cardZip">
				</div>
			</div>
		</div>
<!-- end first panel -->
    <div class="panel panel-default col-lg-6">
        <h3>Options:</h3>
        <hr>
        <div class="checkbox" ng-hide="quarterlyPayOptIn || annualPayOptIn">
            <label>
                <input type="checkbox" ng-init="monthlyPayOptIn = false" ng-model="DC.form.monthlyPayOptIn" ng-click="monthlyPayOptIn = !monthlyPayOptIn" >
                Repeat monthly
            </label>
        </div>
				<div class="checkbox" ng-hide="monthlyPayOptIn || annualPayOptIn">
					<label>
						<input type="checkbox" ng-init="quarterlyPayOptIn = false" ng-model="DC.form.quarterlyPayOptIn" ng-click="quarterlyPayOptIn = !quarterlyPayOptIn" >
								Repeat quarterly
					</label>
				</div>
				<div class="checkbox" ng-hide="monthlyPayOptIn || quarterlyPayOptIn">
					<label>
						<input type="checkbox" ng-init="annualPayOptIn = false" ng-model="DC.form.annualPayOptIn" ng-click="annualPayOptIn = !annualPayOptIn" >
						Repeat Annually
					</label>
				</div>
				<div class="checkbox" ng-init="setFutureDate = false" >
					<label>
						<input type="checkbox" ng-click="setFutureDate = !setFutureDate" >
						Set up payment for future date
					</label>
				</div>
        <div class="form-group" ng-show="setFutureDate">
					<form name="setFutureDate">
						<label>Pick a date <em>within 30 days</em> of today:</label>
						<input type="date" ng-model="DC.futureDate" placeholder="yyyy-MM-dd" min="{{DC.currentDate}}" max="{{DC.maxFutureDate}}">
					</form>
        </div>
				<div>
					<div>
						<p ng-show="monthlyPayOptIn && !quartlyPayOptIn && !annualPayOptIn">
							Payment repeats monthly
						</p>
						<p ng-show="quarterlyPayOptIn && !monthlyPayOptIn && !annualPayOptIn">
							Payment repeats quarterly
						</p>
						<p ng-show="annualPayOptIn && !monthlyPayOptIn && !quarterlyPayOptIn">
							Payment repeats annually
						</p>
						<p ng-show="setFutureDate">
							Payment will process on: {{DC.futureDate}}
						</p>
					</div>
				</div>
    </div>
	</form>


    <button value="submit" id="submit" class="btn btn-success btn-lg col-lg-12" ng-disabled="paymentForm.$invalid">Pay with
        <span id="card-type">Card</span>
    </button>

		<div class="footer-info col-lg-12">
		    <button type="button" class="btn btn-link" name="button" ng-click="DC.logOut()">Log Out</button>
		</div>
<!-- end of main div -->
</div>
