<base href="/">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>Sign Up</h1>
            <h5>for communication from Nexus staff members, and to manage your donation preferences</h5>
            <hr>
            <form name="signupForm" ng-submit="submit()" novalidate>
                <div class="col-lg-6" id="signupLeft">
                    <h3>Required:</h3>
                    <!-- email -->
                    <div class="form-group" ng-class="{ 'has-error' : SC.form.email.$invalid && !SC.form.email.$pristine }">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" ng-model="SC.form.email" placeholder="someone@example.net" required>
                        <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block">
													Please enter a valid email.
												</p>
                    </div>

                    <!-- password -->
                    <div class="form-group" ng-class="{ 'has-error' :  SC.form.password.$invalid && !SC.form.password.$pristine }">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" ng-model="SC.form.password" ng-minlength="12" placeholder="Password - minimum 12 characters" required>
                        <p ng-show="signupForm.assword.$invalid && !signupForm.password.$pristine" class="help-block">
                            Please enter a valid password at least 12 characters in length for security.
                        </p>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="SC.form.newsletterOptIn">
                            Opt-in for communication from Nexus
                        </label>
                    </div>

                    <button type="submit" class="btn btn-success col-lg-12 signup-submit" ng-disabled="signupForm.$invalid" ng-click="SC.signup()">Submit</button>

                </div>

                <div class="col-lg-6" id="signupRight">
                    <h3>Optional:</h3>
                    <label>Name:</label>
                    <div class="form-group name col-lg-12">
                        <div class="form-group col-lg-3">
                            <input type="text" class="form-control" name="title" placeholder="Title" ng-model="SC.form.title">
                        </div>
                        <div class="form-group col-lg-9">
                            <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="SC.form.firstName">
                        </div>
                        <div class="form-group col-lg-9">
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="SC.form.lastName">
                        </div>
                        <div class="form-group col-lg-3">
                            <input type="text" class="form-control" name="suffix" placeholder="Suffix" ng-model="SC.form.suffix">
                        </div>
                    </div>

                    <div class="form-group addresss col-lg-12">
                        <label>Address:</label>
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control" name="street" placeholder="123 Remington St" ng-model="SC.form.streetAddress">
                        </div>
                        <div class="form-group col-lg-9">
                            <input type="text" class="form-control" name="city" placeholder="Fort Collins ">
                        </div>
                        <div class="form-group col-lg-3">
                            <input type="text" class="form-control" name="state" placeholder="CO " ng-model="SC.form.state">
                        </div>
                        <div class="form-group col-lg-4">
                            <input type="text" class="form-control" name="zip" placeholder="12345 " ng-model="SC.form.postalCode">
                        </div>
                        <div class="form-group col-lg-8">
                            <input type="text" class="form-control" name="phone" placeholder="555-555-5555 " ng-model="SC.form.phone">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>
