body {
	font-family: 'Arimo', sans-serif;
	overflow: scroll;
	color: grey;
}

.container{
	height: 80px;
	line-height: 34px;
	width: 85%;
	margin-left: 11%
}

.container-fluid {
	margin-top: 30px;
	margin-bottom: 120px;
	width: 80%;
	margin-left: 11%;
}

#nav{
	margin: 23px 0 0 0;
}

#nav ul li {
	display: inline;
	margin: 0 0 0 10px;
	color: grey;
	font-size: 14px;
}

#nav a {
	text-decoration: none;
}

#nav a:hover{
	text-decoration: underline;
}

.icon{
	margin-top: 20px;
}

.banner {
	background-image: url("../nexusDRMassets/Nexus-Web-Banners-yellow.png");
	height:160px;
	background-size: cover;
}

.banner-text{
	line-height: 110px;
	color: #424242;
}

.footer {
	width: 100%;
  position: fixed;
  bottom: 0;
	left: 0;
  height: 53px;
	line-height: 53px;
  background-color: #212121;
}

.blurb-container {
	width: 78%;
	margin-left: 12%;
	margin-top: 5%;
	color: grey;
	font-size: 14px;
	line-height: 25px;
}

.login {
	width: 50%;
	margin-left: 25%;
}

.signup-submit{
	width: 50%;
	margin-left: 25%;
}

.signup-phone {
	width: 50%;
	margin-left: 50%;
}
